[submodule "2026"]
	path = 2026
	url = https://github.com/numbats/WOMBAT2026.git
	branch = gh-pages
[submodule "2025"]
	path = 2025
	url = https://github.com/numbats/WOMBAT2025.git
	branch = gh-pages
[submodule "2024"]
	path = 2024
	url = https://github.com/numbats/WOMBAT2024.git
	branch = main
[submodule "2022"]
	path = 2022
	url = https://github.com/numbats/WOMBAT2022.git
	branch = main
[submodule "2017"]
	path = 2017
	url = https://github.com/numbats/WOMBAT2017.git
	branch = gh-pages
[submodule "2016"]
	path = 2016
	url = https://github.com/numbats/WOMBAT2016.git
	branch = gh-pages
[submodule "2019"]
	path = 2019
	url = https://github.com/numbats/WOMBAT2019.git
	branch = main
